<template>
  <div id="app" class="w-full min-h-screen flex flex-col items-center justify-center">
		<div id="box" class=" w-full flex flex-col items-center justify-center">
			
			<div id="input" class=" w-11/12  lg:w-5/12 flex flex-row items-center rounded-lg overflow-hidden border-2 h-16 bg-white hover:border-gray-400">
				<input type="text" class="w-full  pl-6 text-3xl text-gray-800" placeholder="Apple... Tesla... Samsung..." v-model="inputValue" @keyup="char">
				<svg xmlns="http://www.w3.org/2000/svg" v-if="load" id="spin" class="mr-2 w-12 h-12 text-gray-400" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>			</div>

			<div id="input" class=" h-64 w-11/12  lg:w-5/12 mt-10" >

				<div :class="{loaded: !load}" id="company" v-for="company in response" class=" bg-white rounded-lg p-6 my-3 border-2 hover:border-gray-400">
						<span v-if="company.Verified == 1" id="verified" class="text-blue-600">Verified</span>
						<h1 class="text-2xl flex flex-row items-center">{{ company.Name	}}</h1>

						<div id="link-container" class=" flex-row flex-no-wrap">
							<span class="pr-2" v-if="company.Email">{{ company.Email.replace(/(.{30})..+/, "$1…")	}}</span>
							<span class="pr-2" v-if="company.Security_Link">{{ company.Security_Link.replace(/(.{30})..+/, "$1…")	}}</span>
							<span class="pr-2" v-if="company.Bug_Bounty_Link">{{ company.Bug_Bounty_Link.replace(/(.{30})..+/, "$1…")	}}</span>
						</div>

					<!-- <img :src="`//logo.clearbit.com/${(company.Website).replace('https://', '').replace('http://', '')}?size=80&greyscale=true`" alt=""> -->
				</div>
			</div>


		</div>
  </div>
</template>

<script>

import axios from 'axios';

export default {
	name: 'App',
	data() {
		return {
			inputValue: null,
			response: null,
			load: false,
			featured: null
		}
	},
	methods: {
		char: function() {
			this.load = true;
			axios.get("https://cdn.colombo.technology/files/dev/sci/data-api.php?data312", {
				params: {
					search: this.inputValue
				}
			}).then((response) => {
				this.response = response.data;
				console.log(response.data)
				if(response.data == null) this.response = this.featured;

				this.load = false
			} )
		},
		shortText: function(text) {

		}
	},
	mounted() {
		this.load = true;
			axios.get("https://cdn.colombo.technology/files/dev/sci/data-api.php?featured&data312", {
				params: {
					search: this.inputValue
				}
			}).then((response) => {
				this.response = response.data;
				this.featured = response.data;
				this.load = false
			} )
	}
}
</script>

<style lang="scss">
#roa {
	width: 200%;
	height: 250px;
	bottom: -180px;
	left: -25px;
}
#spin {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#company {
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.loaded {
		opacity: 1 !important;
}


</style>